# Pandas

In [2]:
import numpy as np
un_panda_numpy = np.array([100,5,20,80])
un_panda_numpy

array([100,   5,  20,  80])

In [3]:
famille_panda = [
    [100, 5, 20, 80],
    [50,2.5,10,40],
    [11,6,22,80]
]
famille_panda_numpy = np.array(famille_panda)
famille_panda_numpy

array([[100. ,   5. ,  20. ,  80. ],
       [ 50. ,   2.5,  10. ,  40. ],
       [ 11. ,   6. ,  22. ,  80. ]])

In [4]:
famille_panda_numpy[2,0]

11.0

In [5]:
import pandas as pd

In [6]:
famille_pandas_df = pd.DataFrame(famille_panda_numpy, index=['maman','bebe','papa'], columns = ['pattes','poil','queue','ventre'])

In [7]:
famille_pandas_df

       pattes  poil  queue  ventre
maman   100.0   5.0   20.0    80.0
bebe     50.0   2.5   10.0    40.0
papa     11.0   6.0   22.0    80.0

In [8]:
famille_pandas_df.ventre

maman    80.0
bebe     40.0
papa     80.0
Name: ventre, dtype: float64

In [9]:
famille_pandas_df.loc['papa']

pattes    11.0
poil       6.0
queue     22.0
ventre    80.0
Name: papa, dtype: float64

In [10]:
famille_pandas_df.iloc[2]

pattes    11.0
poil       6.0
queue     22.0
ventre    80.0
Name: papa, dtype: float64

### ventre =80

In [11]:
famille_pandas_df[famille_pandas_df.ventre==80]

       pattes  poil  queue  ventre
maman   100.0   5.0   20.0    80.0
papa     11.0   6.0   22.0    80.0

In [12]:
autres_pandas = pd.DataFrame([[105,4,19,80],[100,5,20,80]],columns=famille_pandas_df.columns)

In [13]:
tous_les_pandas = famille_pandas_df.append(autres_pandas)

In [14]:
tous_les_pandas

       pattes  poil  queue  ventre
maman   100.0   5.0   20.0    80.0
bebe     50.0   2.5   10.0    40.0
papa     11.0   6.0   22.0    80.0
0       105.0   4.0   19.0    80.0
1       100.0   5.0   20.0    80.0

In [15]:
tous_les_pandas.drop_duplicates()

       pattes  poil  queue  ventre
maman   100.0   5.0   20.0    80.0
bebe     50.0   2.5   10.0    40.0
papa     11.0   6.0   22.0    80.0
0       105.0   4.0   19.0    80.0

In [17]:
for ind_ligne, contenu_ligne in tous_les_pandas.iterrows():
    print("Voici le panda %s :" % ind_ligne)
    print(contenu_ligne.pattes)
    print("--------------------")

Voici le panda maman :
100.0
--------------------
Voici le panda bebe :
50.0
--------------------
Voici le panda papa :
11.0
--------------------
Voici le panda 0 :
105.0
--------------------
Voici le panda 1 :
100.0
--------------------