# test01

In [4]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame({'Data':np.random.normal(size=200)})
# example dataset of normally distributed data.
df.head()

       Data
0  0.053568
1 -0.884181
2 -0.801474
3 -0.232773
4 -0.005136

In [9]:
df[np.abs(df.Data-df.Data.mean()) <= (3*df.Data.std())].head()
# keep only the ones that are within +3 to -3 standard deviations in the column 'Data'.

       Data
0  0.053568
1 -0.884181
2 -0.801474
3 -0.232773
4 -0.005136

In [10]:
df[~(np.abs(df.Data-df.Data.mean()) > (3*df.Data.std()))].head()
# or if you prefer the other way around

       Data
0  0.053568
1 -0.884181
2 -0.801474
3 -0.232773
4 -0.005136

In [ ]:
## pour tous le df
df = pd.read_csv('p2-arbres-fr.csv', sep=';')
from scipy import stats
df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

In [3]:
import pandas as pd

def remove_outliers(df, q=0.05):
    upper = df.quantile(1-q)
    lower = df.quantile(q)
    mask = (df < upper) & (df > lower)
    return mask

t = pd.DataFrame({'train': [1,1,2,3,4,5,6,7,8,9,9],
                  'y': [1,0,0,1,1,0,0,1,1,1,0]})

mask = remove_outliers(t['train'], 0.1)

print(t[mask])

   train  y
2      2  0
3      3  1
4      4  1
5      5  0
6      6  0
7      7  1
8      8  1

# Exemple de donnÃ©es avec 2 groupes: G1: Groupe 1. G2: Groupe 2

In [5]:
from io import StringIO
import pandas as pd
#pandas config
pd.set_option('display.max_rows', 20)

In [6]:
TESTDATA = StringIO("""G1;G2;Value
1;A;1.6
1;A;5.1
1;A;7.1
1;A;8.1

1;B;21.1
1;B;22.1
1;B;24.1
1;B;30.6

2;A;40.6
2;A;51.1
2;A;52.1
2;A;60.6

2;B;80.1
2;B;70.6
2;B;90.6
2;B;85.1
""")

In [7]:
df = pd.read_csv(TESTDATA, sep=";")

In [8]:
stds = 1.0
outliers = df[['G1', 'G2', 'Value']].groupby(['G1','G2']).transform(
           lambda group: (group - group.mean()).abs().div(group.std())) > stds

In [9]:
dfv = df[outliers.Value == False]
dfo = df[outliers.Value == True]

In [11]:
print ('\n'*5, 'All values with decimal 1 are non-outliers. In the other hand, all values with 6 in the decimal are.')
print ('\nDef DATA:\n%s\n\nFiltred Values with %s stds:\n%s\n\nOutliers:\n%s' %(df, stds, dfv, dfo))

 All values with decimal 1 are non-outliers. In the other hand, all values with 6 in the decimal are.

Def DATA:
    G1 G2  Value
0    1  A    1.6
1    1  A    5.1
2    1  A    7.1
3    1  A    8.1
4    1  B   21.1
5    1  B   22.1
6    1  B   24.1
7    1  B   30.6
8    2  A   40.6
9    2  A   51.1
10   2  A   52.1
11   2  A   60.6
12   2  B   80.1
13   2  B   70.6
14   2  B   90.6
15   2  B   85.1

Filtred Values with 1.0 stds:
    G1 G2  Value
1    1  A    5.1
2    1  A    7.1
3    1  A    8.1
4    1  B   21.1
5    1  B   22.1
6    1  B   24.1
9    2  A   51.1
10   2  A   52.1
12   2  B   80.1
15   2  B   85.1

Outliers:
    G1 G2  Value
0    1  A    1.6
7    1  B   30.6
8    2  A   40.6
11   2  A   60.6
13   2  B   70.6
14   2  B   90.6